{% extends 'main.html' %}
{% load static %}
{% block content %}
  

  <!-- ***** Main Banner Area Start ***** -->
  <div class="main-banner">
    <div class="container">
      <div class="row">
        <div class="col-lg-10 offset-lg-1">
          <div class="header-text">
            <h2><em>Meta</em>Photo<em>Book</em></h2>
            <p>Социальная сеть для фотографов</p>
            <div class="buttons">
              <div class="big-border-button">
                <a href="{% url 'categories' %}">Популярные работы</a>
              </div>
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- ***** Main Banner Area End ***** -->


  <section class="featured-items" id="featured-items">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="owl-features owl-carousel" style="position: relative; z-index: 5;">
            {% for i in photo_popul%}
            <div class="item">
              <div class="thumb">
                <img src="{{ i.resize.url }}" alt="">
                <div class="hover-effect">
                  <div class="content">
                    <h4 style="font-size: 40pt;">{{i.name}}</h4>
                    
                  </div>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </section>


  <section class="popular-categories">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-6">
          <div class="section-heading">
            <h6> Наши категории</h6>
            <h4>Все категории на сайте:</h4>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="main-button">
            <a href="{% url 'categories' %}">Discover All Categories</a>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6">
          <div class="popular-item">
            <div class="top-content">
              <div class="icon">
                <img src="{% static 'assets/images/icon-01.png' %}" alt="">
              </div>
              <div class="right">
                <h4>Природа</h4>
              </div>
            </div>
            <div class="thumb">
              <img src="{% static 'assets/images/popular-01.png' %}" alt="">

            </div>
            <div class="border-button">
              <a href="{% url 'contest' %}">Загрузить своё фото</a>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6">
          <div class="popular-item">
            <div class="top-content">
              <div class="icon">
                <img src="{% static 'assets/images/icon-02.png' %}" alt="">
              </div>
              <div class="right">
                <h4>Наука</h4>

              </div>
            </div>
            <div class="thumb">
              <img src="{% static 'assets/images/sci.png' %}" alt="">

            </div>
            <div class="border-button">
              <a href="{% url 'contest' %}">Загрузить своё фото</a>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6">
          <div class="popular-item">
            <div class="top-content">
              <div class="icon">
                <img src="{% static 'assets/images/icon-03.png' %}" alt="">
              </div>
              <div class="right">
                <h4>Бытовая</h4>

              </div>
            </div>
            <div class="thumb">
              <img src="{% static 'assets/images/bit.jpg' %}" alt="">


            </div>
            <div class="border-button">
              <a href="{% url 'contest' %}">Загрузить своё фото</a>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6">
          <div class="popular-item">
            <div class="top-content">
              <div class="icon">
                <img src="{% static 'assets/images/icon-04.png' %}" alt="">
              </div>
              <div class="right">
                <h4>Другое</h4>

              </div>
            </div>
            <div class="thumb">
              <img src="{% static 'assets/images/popular-04.png' %}" alt="">
            </div>
            <div class="border-button">
              <a href="{% url 'contest' %}">Загрузить своё фото</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="closed-contests">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="section-heading text-center">
            <h4>Ваши закрытые фото и видео</h4>
          </div>
        </div>
        <div class="col-lg-12">
          <div class="owl-features owl-carousel" style="position: relative; z-index: 5;">
            {% for clo in close_photo%}
            <div class="item">
              <div class="closed-item">
                <div class="thumb">
                  <img src="{{ clo.resize.url }}" alt="">
  
                </div>
                <div class="down-content">
                  <div class="row">
                    <div class="col-7">
                      <h4>Название: {{clo.name}}</h4>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
        <div class="col-lg-12">
          <div class="border-button text-center">
            <a href="{% url 'contests' %}">Перейти в открытые работы</a>
          </div>
        </div>
      </div>
    </div>
  </section>

  


  </body>
{% endblock content %}
